.flex {
  display: flex;

  &--align-center {
    align-items: center;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--col {
    flex-flow: column
  }

  &--justify-around {
    justify-content: space-around
  }
}