@mixin genMargin($direction) {
  $steps: 10;
  $interval: 10%;

  @for $i from 0 to $steps {
    .m-#{$direction}-#{$i*10} {
      margin-#{$direction}: #{$i * $interval};
    }

    .p-#{$direction}-#{$i*10} {
      padding-#{$direction}: #{$i * $interval};
    }
  }
}

.m-h-auto {
  margin: 0 auto;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

@include genMargin("top");
@include genMargin("bottom");