button {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.btn {
  text-decoration: none;
  padding: 7px 4px;
  margin: 2% 0;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;

  &--large {
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
  }

  &--xl {
    padding: 50px 0;
    border-radius: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 34px;
  }

  &--primary {
    background-color: $primary-color;
    color: $light-color;
  }

  &--danger {
    background-color: $danger-color;
    color: $light-color;
  }

  &--success {
    background-color: $success-color;
    color: $light-color;
  }

  &--secondary {
    background-color: $secondary-color;
    color: $light-color;
  }
}