.container {
  width: 90%;
  height: auto;
  // margin: 15% auto 0 auto;
  margin: 0 auto;
  clear: both;
  padding-bottom: 70px;
  &--fill {
    height: 100%;
    width: 100%;
  }

  &--nohead {
    padding-bottom: 0;
  }

  &__hero {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .container {
    width: 70%;

    &--fill {
      height: 100%;
      width: 100%;
    }
  }
}