.nav {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;

  a:link {
    color: $primary-color;
    text-decoration: none;
    font-size: 30px;
  }

  a:visited {
    color: $primary-color;
  }
}