.form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;


    &__field {
        margin: 2% 0;

        &--note {
            font-size: 10px;
        }
    }

    &__input, &__select {
        background: #fcfcfc;
        display: block;
        width: auto;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 10px 4px;
        border: 1px solid lightgray;
        width: 100%;
    }

    input[type=radio] {
        display: inline-block;
        width: auto;
    }

    input[type=submit] {
        color: $light-color;
        font-family: $base-font-family;
        font-size: $base-font-size;
    }

}