.header {
  width: 100%;
  padding: 3% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 15px #00000030;

  .row {
    div {
      margin: 0 auto;
      text-align: center;
    }
  }
}