{{> header}}
{{#if loading}}
  <div class="container container--fill flex flex--center">
    <h1>loading...</h1>
  </div>
{{else}}
<div class="container container--fill">
  <section class="featured">
    <div class="featured__image">
      <img src="https://images.unsplash.com/photo-1541123356219-284ebe98ae3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Featured Kot">
    </div>
    <div class="featured__content text-light">
      <div class="container h-100 flex flex--col flex--justify-around">
        <h5>FEATURED</h5>
        <p class="text-bold">Korenmarkt 2, 9000 Gent</p>
      </div>
    </div>
  </section>
</div>

{{/if}}
{{> footer}}