<div class='container container--fill'>
    <div class="background flex flex--center h-80">
      <img src='{{ logo }}' alt='Logo' class='title__logo'>
    </div>
    <div class="container__hero clip--leftangle flex flex--col flex--center">
      <a href="#/login" class='btn btn--large btn--primary' data-navigo >Ik ben al een gebruiker</a>
      <a href="#/register" class='btn btn--large btn--primary' data-navigo >Ik wil een nieuw account</a>
    </div>
</div>