<div class="container container--fill flex flex--col flex--justify-around flex--center">
  <div class="title col-sm-10 text--center">
    <img src="{{ logo }}" alt="Logo">
    <p class="text-primary">Your way of life</p>
  </div>
  <div class="buttons col-sm-10 flex flex--col">
    <a href="#/login" class='text-light btn btn--large btn--primary' data-navigo >Ik ben al een gebruiker</a>
    <a href="#/register" class='btn btn--large btn--primary text-light' data-navigo >Ik wil een nieuw account</a>
  </div>
</div>
