<div class='container container--fill bg-gent flex flex--center'>
  <div class="container__hero flex flex--col flex--center">
    <img src='{{ logo }}' alt='Logo' class='title__logo'>
    <a href='/login' class='btn btn--large btn--primary'>Ik ben al een gebruiker</a>
    <a href="/register" class='btn btn--large btn--primary'>Ik wil een nieuw account</a>
  </div>
</div>