<div class="container container--fill flex flex--center">
  <form class='form' action='/menu'>
    <div class="form__field">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="jan.peeters@provider.com">
    </div>
    <div class="form__field">
      <label for="pass">Password</label>
      <input type="password" id="pass">
    </div>
    <div class="form__field">
      <input type="submit" class='btn btn--large btn--primary' id='login-btn' value="Log In">
      <a href="/" class='btn btn--large' data-navigo>Back</a>
    </div>
  </form>
</div>