<div class='container container--fill bg-gent flex flex--center'>
  <div class="container__hero flex flex--col flex--center">
    <img src='{{ logo }}' alt='Logo' class='title__logo'>
    <p>{{ user }}</p>
    <button type='button' id='logout-btn' class='btn btn--large btn--primary'>Log Out</button>
  </div>
</div>