{{> header}}
<div class="container--fill h-90">
{{#if messages}}
{{else}}
  <div class="container container--nohead h-100 flex flex--col flex--center">
    <p>Helaas, er zijn geen berichten op dit moment</p>
  </div>
{{/if}}
</div>
{{> footer}}