{{> header}}
<div class="container--fill h-90">
{{#if messages}}
<div class="row">
  {{#each messages}}
    <div class="col-sm-12">
      <h5>{{this.owner}}</h5>
    </div>
  {{/each}}
</div>
{{else}}
  <div class="container container--nohead h-100 flex flex--col flex--center">
    <p>Helaas, er zijn geen berichten op dit moment</p>
  </div>
{{/if}}
</div>
{{> footer}}