<div class="container flex flex--center">
    <form class='form'>
        <div class="row">

            <div class="form__field col-sm-6">
                <label for="fname">Voornaam</label>
                <input type="text" id="fname" placeholder="Jan" class='form__input' required>
            </div>
            <div class="form__field col-sm-6">
                <label for="lname">Achternaam</label>
                <input type="text" id="lname" placeholder="Peeters" class='form__input' required>
            </div>
            <div class="form__field col-sm-12">
                <label for="email">Email</label>
                <input type="email" id="mail" placeholder="jan.peeters@provider.com" class='form__input' required>
            </div>
            <div class="form__field col-sm-12">
                <label for="pass">Wachtwoord</label>
                <input type="password" id="pass" class='form__input' required>
            </div>
            <div class="form__field col-sm-12">
                <label for="pass">Bevestig wachtwoord</label>
                <input type="password" id="confirmpass" class='form__input' required>
            </div>
            <div class="form__field col-sm-12">
                <label for="address">Adres</label>
                <input type="text" id="address" placeholder="Dorpsplein 18" class='form__input' required>
            </div>
            <div class="form__field col-sm-4">
                <label for="postcode">Postcode</label>
                <input type="number" id="postcode" placeholder="3000" size='4' class='form__input' required>
            </div>
            <div class="form__field col-sm-8">
                <label for="city">Gemeente</label>
                <input type="text" id="city" placeholder="Leuven" class='form__input' required>
            </div>
            <div class="form__field col-sm-12">
                <label for="phone">Telefoonnummer</label>
                <input type="tel" id="phone" placeholder="+324 71 58 76 84" class='form__input' required>
                <span class='form__field--note'>+324 71 58 76 48</span>
            </div>
            <div class="form__field row">
                <div class="col-sm-12">
                    <span>Ik ben...</span>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name='type' value='student'>student<br>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name='type' value='owner' checked>eigenaar<br>
                </div>
            </div>
            <div class="form__field col-sm-12 form__field--studentonly hidden">
                <label for="school">School</label>
                <select name="school" id="school" class='form__input'>
                    <option disabled selected>Kies een school</option>
                    
                </select>
            </div>
            <div class="form__field row">
                <div class="col-sm-12">
                    <input type="submit" id='register-btn' class='btn btn--large btn--primary' value="Registreer">
                </div>
                <div class="col-sm-12">
                    <a href="/" class='btn btn--large text-danger' data-navigo>Back</a>
                </div>
            </div>
        </div>
    </form>
</div>