.text-primary {
  color: $primary-color;
}

.text-light {
  color: $light-color;
}

.text-danger {
  color: $danger-color;
}

.text-secondary {
  color: $secondary-color;
}

// background colors
.primary {
  background: $primary-color;
}