$primary-color: #07BEB8;
$secondary-color: #E56399;
$light-color: #FCFCFC;
$dark-color: #272727;
$success-color: #58C43D;
$danger-color: #CE413A;

$header-font-family: "Quicksand", sans-serif;
$header-font-size: 35px;
$header-font-weight: 700;
$header-line-height: 1.4;

$base-font-family: "Quicksand", sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$base-line-height: 1.26;