.filter {
  position: fixed;
  top: 0;
  background: $light-color;
  box-sizing: border-box;
  padding-bottom: 70px;

  transform: translateY(0);
  transition: transform 300ms ease-in-out;
  will-change: transform;
  z-index: 999;

  &--up {
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    will-change: transform;
  }
  
}