<section class="footer">
  <section class="row menu menu--down">
    <div class="col-sm-12 flex flex--col">
      <a href="#/rooms/list">Lijst</a>
      <a href="#/rooms/map">Kaart</a>
      <a href="">Kot or Not</a>
    </div>
  </section>
  <section class="navigation">
      <nav class="nav">
        <a href="#/dash"><i class="fas fa-home"></i><span class='text-nav'>Home</span></a>
        <a href="" id='toggleMenu'><i class="fas fa-list-ul"></i><span class='text-nav'>Koten</span></a>
        <a href="#/profile"><i class="fas fa-user"></i><span class='text-nav'>Profiel</span></a>
        <a href="" id='logout-btn'><i class="fas fa-sign-out-alt"></i><span class='text-nav'>Log uit</span></a>
      </nav>
  </section>
</section>