<section class="footer">
    <nav class="nav">
      <a href="#/dash"><i class="fas fa-home"></i></a>
      <a href="#/rooms/list"><i class="fas fa-list-ul"></i></a>
      <a href="#/profile"><i class="fas fa-user"></i></a>
      <a href="" id='logout-btn'><i class="fas fa-sign-out-alt"></i></a>
    </nav>
</section>