<section class="header">
  <div class="row flex--align-center">
    <div class="col-sm-6 col-md-4 header__logo">
      {{{ logo }}}
    </div>
  </div>
</section>

{{!-- <section class="header flex flex--col flex--center">
  <div class="row">
    <div class="col-sm-12">
      {{{ logo }}}
    </div>
    <div class="col-sm-12">
      <h1>
        {{#if title}}
          {{title}}
        {{else}}
          Test
        {{/if}}
      </h1>
    </div>
  </div>
</section> --}}