html, body {
    // reset
    margin: 0;
    padding: 0;
    background: #fefefe;
    height: 100vh;
    
    #app {
        height: 100%;
        position: relative;
    }

    // base font styles
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;

    $size: 6;
    @for $i from 1 through $size {
        h#{$i} {
            font-family: $header-font-family;
            font-size: #{$header-font-size - ($i * $i) / 2};
            font-weight: $header-font-weight;
            line-height: #{$header-line-height / $i + 0.5};
        }
    }

    .text-bold {
      font-weight: 700;
    }

    a:link, a:hover, a:visited, a:active {
      text-decoration: none;
    }

    a .card {
      color: $dark-color;
    }
}



